<div class="blog">
    <div id="blog-fashion-art">
        <div class="jumbotron">
            <h2 class="text-center header-title">Fashion &amp; Art</h2>
            <h1 class="text-center header-title">Incomprehensible Expression</h1>
            <p class="blog-btn"><a class="btn btn-default btn-sm" role="button" href="#">Read More</a></p>
        </div>
    </div>
    <div class="container blog-main">
        <div class="row blog-row-small">
            <div class="col-lg-8 col-md-8 blog-main-left">
                <div class="blog-main-caption">
                    <p>EYE Event</p>
                    <h3>Dressed to Kill.</h3></div>
                <div class="blog-main-content">
                    <a href="blog-fashion-main.png" target="_blank"><img class="img-rounded img-responsive" src="<%= image_url('blog/blog-fashion-main.png') %>"></a>
                    <p>Posted by <a href="#">Tshegofatso Mabunda</a> on 25 Dec, 2017.</p>
                    <p>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodoconsequat. Duis aute
                        irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat nonproident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                    <p>ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodtempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodoconsequat. Duis aute
                        irure dolor in reprehenderit in voluptate velit essecillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat nonproident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                    <p class="blog-btn"><a class="btn btn-default btn-sm" role="button" href="#">Read More</a></p>
                    <ul>
                        <li>Share: </li>
                        <li><i class="fa fa-facebook"></i></li>
                        <li><i class="fa fa-twitter"></i></li>
                        <li><i class="fa fa-pinterest-p"></i></li>
                        <li><i class="fa fa-instagram"></i></li>
                    </ul>
                </div>
                <div class="blog-small">
                    <div class="row blog-row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="thumbnail blog-thumbnail">
                                <a href="blog-fashion-small-5.png" target="_blank"><img class="img-rounded img-responsive" src="<%= image_url('blog/blog-fashion-small-5.png') %>"></a>
                                <div class="caption">
                                    <h6>EYE Event</h6>
                                    <h3><a href="#">A matter of instinct</a></h3>
                                    <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                                    <label>Dec 25, 2017 </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="thumbnail blog-thumbnail">
                                <a href="blog-fashion-small-1.png" target="_blank"><img class="img-rounded img-responsive" src="<%= image_url('blog/blog-fashion-small-1.png') %>"></a>
                                <div class="caption">
                                    <h6>EYE Event</h6>
                                    <h3><a href="#">A matter of instinct</a></h3>
                                    <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                                    <label>Dec 25, 2017 </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row blog-row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="thumbnail blog-thumbnail">
                                <a href="blog-fashion-small-4.png" target="_blank"><img class="img-rounded img-responsive" src="<%= image_url('blog/blog-fashion-small-4.png') %>"></a>
                                <div class="caption">
                                    <h6>EYE Event</h6>
                                    <h3><a href="#">A matter of instinct</a></h3>
                                    <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                                    <label>Dec 25, 2017 </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="thumbnail blog-thumbnail">
                                <a href="blog-fashion-small-6.png" target="_blank"><img class="img-rounded img-responsive" src="<%= image_url('blog/blog-fashion-small-6.png') %>"></a>
                                <div class="caption">
                                    <h6>EYE Event</h6>
                                    <h3><a href="#">A matter of instinct</a></h3>
                                    <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                                    <label>Dec 25, 2017 </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row blog-row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="thumbnail blog-thumbnail">
                                <a href="blog-fashion-small-2.png" target="_blank"><img class="img-rounded img-responsive" src="<%= image_url('blog/blog-fashion-small-2.png') %>"></a>
                                <div class="caption">
                                    <h6>EYE Event</h6>
                                    <h3><a href="#">A matter of instinct</a></h3>
                                    <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                                    <label>Dec 25, 2017 </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="thumbnail blog-thumbnail">
                                <a href="blog-fashion-small-3.png" target="_blank"><img class="img-rounded img-responsive" src="<%= image_url('blog/blog-fashion-small-3.png') %>"></a>
                                <div class="caption">
                                    <h6>EYE Event</h6>
                                    <h3><a href="#">A matter of instinct</a></h3>
                                    <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                                    <label>Dec 25, 2017 </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 blog-main-right">
                <div class="widget-wrapper">
                    <h3 class="text-uppercase blog-heading">Category </h3>
                    <ul class="list-group">
                        <li class="list-group-item"><span><a href="#">Health &amp; Fitness </a></span>
                            <div class="underline"></div>
                        </li>
                        <li class="list-group-item"><span><a href="#">Fashion &amp; Art </a></span>
                            <div class="underline"></div>
                        </li>
                        <li class="list-group-item"><span> <a href="#">Chef@Home </a></span>
                            <div class="underline"></div>
                        </li>
                        <li class="list-group-item"><span><a href="#">The Weekend </a></span></li>
                    </ul>
                </div>
                <div class="blog-suggestion">
                    <h3 class="text-nowrap text-uppercase blog-heading">You Might Also Like</h3>
                    <div class="col-md-12 blog-suggestion-row">
                        <div class="blog-suggestion-img">
                            <a href="#"><img class="img-responsive" src="<%= image_url('blog/blog-suggestion-1.png') %>"></a>
                        </div>
                        <div class="blog-suggestion-content">
                            <h4> <a href="#">Nullam non magna </a></h4>
                            <p>Nullam non magna lobortis, faucibus erat eu, consequat.</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-12 blog-suggestion-row">
                        <div class="blog-suggestion-img">
                            <a href="#"><img class="img-responsive" src="<%= image_url('blog/blog-suggestion-2.png') %>"></a>
                        </div>
                        <div class="blog-suggestion-content">
                            <h4> <a href="#">Nullam non magna </a></h4>
                            <p>Nullam non magna lobortis, faucibus erat eu, consequat.</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-12 blog-suggestion-row">
                        <div class="blog-suggestion-img">
                            <a href="#"><img class="img-responsive" src="<%= image_url('blog/blog-suggestion-3.png') %>"></a>
                        </div>
                        <div class="blog-suggestion-content">
                            <h4> <a href="#">Nullam non magna </a></h4>
                            <p>Nullam non magna lobortis, faucibus erat eu, consequat.</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="blog-news-letters">
                    <h3 class="text-nowrap text-uppercase blog-heading">News Letters</h3>
                    <input type="email" value="Email" onfocus= "this.value = ''">
                    <button class="btn btn-default btn-sm" type="button">Subscribe </button>
                </div>
            </div>
        </div>
    </div>

    <div class="testing-slider">
        <div class="owl-carousel owl-theme blog-media-slider">
            <div class="item thumbnail"
                <a href="blog-fashion-small-3.png" target="_blank">
                    <img class="img-rounded img-responsive" src="<%= image_url('blog/blog-fashion-small-5.png') %>">
                </a>
            </div>


            <div class="item thumbnail"
                <a href="blog-fashion-small-3.png" target="_blank">
                    <img class="img-rounded img-responsive" src="<%= image_url('blog/blog-fashion-small-4.png') %>">
                </a>
            </div>

            <div class="item thumbnail"
                <a href="blog-fashion-small-3.png" target="_blank">
                    <img class="img-rounded img-responsive" src="<%= image_url('blog/blog-fashion-small-3.png') %>">
                </a>
            </div>


            <div class="item thumbnail"
                <a href="blog-fashion-small-3.png" target="_blank">
                    <img class="img-rounded img-responsive" src="<%= image_url('blog/blog-fashion-small-2.png') %>">
                </a>
            </div>
            <div class="item thumbnail"
                <a href="blog-fashion-small-3.png" target="_blank">
                    <img class="img-rounded img-responsive" src="<%= image_url('blog/blog-fashion-small-1.png') %>">
                </a>
            </div>


            <div class="item thumbnail"
                <a href="blog-fashion-small-3.png" target="_blank">
                    <img class="img-rounded img-responsive" src="<%= image_url('blog/blog-fashion-small-5.png') %>">
                </a>
            </div>

            <div class="item thumbnail"
                <a href="blog-fashion-small-3.png" target="_blank">
                    <img class="img-rounded img-responsive" src="<%= image_url('blog/blog-fashion-small-6.png') %>">
                </a>
            </div>


            <div class="item thumbnail"
                <a href="blog-fashion-small-3.png" target="_blank">
                    <img class="img-rounded img-responsive" src="<%= image_url('blog/blog-fashion-small-4.png') %>">
                </a>
            </div>



        </div>
    </div>
</div>