<!-- SCROLL TOP BUTTON -->
<a class="scrollToTop" href="#"></a>
<!-- END SCROLL TOP BUTTON -->

<!--=========== BEGIN HEADER SECTION ================-->
<header id="header">
  <!-- BEGIN MENU -->
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">

    <div class="navbar-top">
      <div class="container">
          <div class="row">
            <div class="col-sm-6 col-xs-12">
                <ul class="list-unstyled list-inline header-contact">
                    <li> <i class="fa fa-phone"></i> <a href="tel:">+27 60 337 4512 </a> </li>
                     <li> <i class="fa fa-envelope"></i> <a href="mailto:info@foresthill.uct.ac.za">info@foresthill.uct.ac.za</a> </li>
               </ul> <!-- /.header-contact  -->
            </div>
            <div class="col-sm-6 col-xs-12 text-right">
                <ul class="list-unstyled list-inline header-social">
                    <li> <a href="#"> <i class="fa fa-facebook"></i> </a> </li>
                    <li> <a href="#"> <i class="fa fa-twitter"></i>  </a> </li>
                    <li> <a href="#"> <i class="fa fa-google"></i>  </a> </li>
                    <li> <a href="#"> <i class="fa fa-youtube"></i>  </a> </li>
                    <li> <a href="#"> <i class="fa fa fa-pinterest-p"></i>  </a> </li>
               </ul> <!-- /.header-social  -->
            </div>
          </div>
      </div>
    </div>
    <div class="navbar-main">
      <div class="container">
          <div class="navbar-header">
              <a class="navbar-brand navbar-link" href="<%= root_url %>"> <img src="<%= image_url('logo/forest_logo_transparent.png') %>" id="logo"></a>
              <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
          </div>
          <div class="collapse navbar-collapse" id="navcol-1">
              <ul class="nav navbar-nav navbar-right navbar-main">
                  <li role="presentation" id="active">
                    <%= link_to "About", about_url ,class: "text-uppercase",'aria-haspoup' => 'true' %>
                  </li>
                  <li class="dropdown" aria-haspopup="true"><a class="text-uppercase dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="<%= facilities_url %>">Facilities <span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                          <li role="presentation"><a href="<%= facilities_url %>">Computer Laboratory</a></li>
                          <li role="presentation"><a href="<%= facilities_url %>">Games Room </a></li>
                          <li role="presentation"><a href="<%= facilities_url %>">Dance Room</a></li>
                          <li role="presentation"><a href="<%= facilities_url %>">TV Room</a></li>
                          <li role="presentation"><a href="<%= facilities_url %>">Tuck Shop</a></li>
                          <li role="presentation"><a href="<%= facilities_url %>">Library </a></li>
                      </ul>
                  </li>
                  <li class="dropdown" aria-haspopup="true"><a class="text-uppercase dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="<%= sports_url %>">Sports<span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                          <li role="presentation"><a href="<%= sports_url %>">Basket Ball</a></li>
                          <li role="presentation"><a href="<%= sports_url %>">NetBall </a></li>
                          <li role="presentation"><a href="<%= sports_url %>">Soccer </a></li>
                          <li role="presentation"><a href="<%= sports_url %>">Hockey </a></li>
                          <li role="presentation"><a href="<%= sports_url %>">Chess </a></li>
                      </ul>
                  </li>
                  <li class="dropdown" aria-haspopup="true"><a class="text-uppercase dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="<%= academics_url %>">Academics <span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                          <li role="presentation"><a href="<%= academics_url %>">Mentors </a></li>
                          <li role="presentation"><a href="<%= academics_url %>">Tutors </a></li>
                      </ul>
                  </li>
                  <li role="presentation"><a class="text-uppercase" href="<%= gallery_url %>">Gallery </a></li>
                  <li class="dropdown" aria-haspopup="true"><a class="text-uppercase dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="<%= blog_url %>">BLOG <span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu">
                          <li role="presentation"><a href="<%= blog_url %>">Health &amp; Fitness</a></li>
                          <li role="presentation"><a href="<%= blog_url %>">Chef@Home </a></li>
                          <li role="presentation"><a href="<%= blog_url %>">Fashion &amp; Art</a></li>
                          <li role="presentation"><a href="<%= blog_url %>">The Weekend</a></li>
                      </ul>
                  </li>
              </ul>
          </div>
      </div>
    </div>
  </nav>
  <!-- END MENU -->
</header>
<!--=========== END HEADER SECTION ================-->
