<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', href="https://fonts.googleapis.com/css?family=Raleway|Roboto+Slab",
                                              media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>
  <body class="<%= controller_name %>-<%= action_name %>">

    <% if action_name[0..3] != "blog" %>
      <%= render 'layouts/header' %>
    <% end %>

    <%= yield %>

    <%= render 'layouts/footer' %>

    <%= debug(params) if Rails.env.development? %>

  </body>
</html>
